<div class="container-fluid">
    <mat-card>
    <div class="row text-center">

        
            <div class="col-md-4">
                <br>
                <img class="responsive" src="../../../assets/patient.png" alt="Registration Here">
            </div>

            <div class="col-md-8">
                <h1>Add New Patient</h1>
            <form (ngSubmit)="userDataSubmit()">
                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput placeholder="Ex. Mohammad" [(ngModel)]="data.firstName"
                                name="firstName">
                        </mat-form-field>
                    </div>

                    <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput placeholder="Ex. Tajbir" [(ngModel)]="data.lastName"
                                name="lastName">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput placeholder="Ex. tajbirnuva" [(ngModel)]="data.username"
                                name="username">
                        </mat-form-field>
                    </div>

                    <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter Here . . ." [(ngModel)]="data.password"
                                name="password">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mobile No.</mat-label>
                            <input type="text" matInput placeholder="Ex. 01681650106" [(ngModel)]="data.mobile"
                                name="mobile">
                        </mat-form-field>
                    </div>

                </div>

                <mat-list>
                    <button type="reset" mat-stroked-button color="accent">Clear Full Registration Form</button>
                    <br><br>
                    <div class="col-md-10 offset-md-1">
                        <mat-divider></mat-divider>
                    </div>
                    <br>
                    <button type="submit" mat-raised-button color="primary">Register</button>
                </mat-list>

            </form>
        </div>
        

    </div></mat-card>
</div>